<!DOCTYPE html>
<html lang="es-mx">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
    <link REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <title>Brandon Sanderson</title>
</head>

<body>

    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Brandon Sanderson</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/capybaras/nuevo">THE STORMLIGHT ARCHIVE</a></li>
            <li><a href="/capybaras/nuevo">THE MISTBORN SAGA</a></li>
            <li><a href="/capybaras/nuevo">STANDALONES</a></li>
            <li><a href="/capybaras/nuevo">WHITE SAND</a></li>
          </ul>
        </div>
      </nav>

    <div class="container">
