<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de capybaras chidos</h1>
    <p>Tenemos los siguientes capybaras:</p>
    <div class="row">
    <% if (capybaras.length > 0) { %>
        <% for (let capybara of capybaras) { %>
            <div class="col l3 m4 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://s2.coinmarketcap.com/static/img/coins/200x200/16636.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= capybara.nombre %><i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= capybara.nombre %><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <h1>Ahorita no hay capybaras, regresa pronto.</h1>
    <% } %>
    </div>
    <br><br>
    <a href="/capybaras/nuevo">Agregar un nuevo capybara</a>
<%- include('includes/foot.ejs') %>
